.add-btn{
    padding: 10px;
    background-color: rgb(62, 196, 62);
    
}

.delete-btn{
    background-color: pink;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.back-btn{
    background-color: grey; 
}