.add-btn{
    padding: 10px;
    background-color: rgb(62, 196, 62);
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}

.delete-btn{
    padding: 10px;
    background-color: pink;
    color: white;
    text-transform: uppercase;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
}